/**
 * @Author Donnchao
 * @Date 2019-04-12
 * @Last Modified by: Rosen
 * @Last Modified time: 2019-04-29 16:37:40
 */
.tt-content {
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
}

.tt-header ~ .tt-content {
  padding-top: 2.3rem;
}

.tt-navbar ~ .tt-content {
  padding-bottom: 2.5rem;
}

/* 面板 */
.tt-content .tt-panel-title {
  line-height: 1.8rem;
  padding-left: 1rem;
  color: #aaa;
  background: #fff;
  font-size: 14px;
  font-weight: normal;
}

.tt-content .tt-panel-body {
  position: relative;
  margin-bottom: .6rem;
  padding: .6rem 1rem;
  background: #fff;
  overflow: hidden;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.tt-content .tt-panel-body.no-padding {
  padding: 0;
}